.app{
  display: flex;
  background-image: url("/src/music.jpeg");
  position: fixed;
  background-size: cover;
  background-position: center;
  min-width: 110%;
  min-height: 110%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  align-items: center;
  
  

}

.singers{
 
  width : 550px;
  height: 500px;
  padding-left: 1%;
  padding-top: 90px;

  

}

.one{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  padding-left: 7%;
  
  
  
}

.two {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
  padding-left: 7%;
  
}

.three {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
 
}


.four {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 10;
  grid-row-end: 1;
 
}

.five {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 2;
  
 
}

.six {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 2;
  
 
}

.weather{
  width: 500;
  padding-left: 80px;
  padding-top: 100px;
  padding-right: 50px;
}




.social-container {
  background: #eee;
  padding: 21px 41px;
  margin-top: 10px;
  margin-right:380px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
 
